<app-nav></app-nav>

<div class="container">

    <div class="jumbotron">
        <h1 class="display-3">Welcome to Peregrine!</h1>
        <p>Make lighting fast crypto trades and start earning money today </p>
    </div>
    <router-outlet></router-outlet>
</div>