<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>The Bitcoin Marketplace</h4>
            <p class="text-muted">Market prices are in real-time and update automatically </p>
            <p>The current market average is {{markets.DISPLAY.PRICE}}</p>
            <p>The highest price in the past 24 hours {{markets.DISPLAY.HIGH24HOUR}}</p>
            <p>The lowest price in the past 24 hours {{markets.DISPLAY.LOW24HOUR}}</p>
            <h6 *ngIf="this.errorMessage">{{error}}</h6>
        </div>
        <div class="col-md-6">
            <div *ngIf="markets.DISPLAY.CHANGEPCT24HOUR < 0" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong>
                <p>Bitcoin has dropped <strong>{{markets.DISPLAY.CHANGEPCT24HOUR}} % </strong> over the past 24 hours</p>
            </div>
            <div *ngIf="markets.DISPLAY.CHANGEPCT24HOUR > 0" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh yeah!</strong>
                <p>Bitcoin is up <strong>{{markets.DISPLAY.CHANGEPCT24HOUR}} % </strong> over the past 24 hours</p>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th><i class="fa fa-btc" aria-hidden="true"></i></th>
            <th>Coinbase</th>
            <th>Kraken</th>
            <th>Gemini</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa fa-usd" aria-hidden="true"></i></td>
            <td>$ {{coinbasePrice.USD}}</td>
            <td>$ {{krakenPrice.USD}}</td>
            <td>$ {{geminiPrice.USD}}</td>



        </tr>

    </tbody>
</table>
<button (click)="sortPrices(prices)">Sort</button>
<button (click)="prepareCalc()">Calculate Range</button>
<button routerLink="price">Price Component</button>


<app-bitcoin-chart [data]="data"></app-bitcoin-chart>