//variables
// Silver #d4d4dc
// Yellow #feda6a
// Matte Grey #393f4d
// Dark Slate  #1d1e22
$yellow: #feda6a;
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

nav {
    background-color: $yellow;
}